/** Template Standard for EZComments comments display **/

.ezc_box {
	margin:				2px;
	padding: 			5px;
}
.ezc_commentscroll {
	margin-top:			5px;
	max-height:			250px;
	overflow-x: 		hidden;
	overflow-y:			auto;
}
.ezc_comment {
  	
}
.ezc_info {
  	float:				right;
  	margin: 			5px;
  	padding: 			5px;
  	width:				140px;
  	min-height:			100px;
	text-align: center;
}
.ezc_title {
  	font-weight:		bold;
  	font-size:			1.2em;
  	font-variant:		small-caps;
}

.ezc_avatar {
	text-align:			center;
}
.ezc_userinfo {
	font-size:			0.9em;
	text-align:			left;
}
.ezc_icons {
	text-align:			center;
}
.ezc_pager {
	text-align:			center;
}
.ezc_line { 
	clear: 				both; 
}
.ezc_line hr {
	border: 			0px;
	border-top: 		solid 1px #C0C0C0;
	border-bottom: 		transparent;
	margin-top:			10px;
}