<div>
    {% for item in items %}
        <h4>{{ item.subject }}</h4>
        <p>{% if showuser %}<strong>{{ item.anonname }}</strong>{% endif %} {% if showdate %} <em>{{ item.date|date('F j, Y, g:i a') }}</em>{% endif %}</p>
        <p>{{ item.comment|striptags|u.truncate(50, true, '…') }}</p>
    {% else %}
        <p>{% trans with {'%amount%': days} %}No comments found in last %amount% days.{% endtrans %}</p>
    {% endfor %}
</div>
