<div>
    {%  for poster,commentcount in activeposters %}
        <p><b>{{ poster }}</b> {% if showcount %} -  <i>{{ commentcount }} posts</i>{% endif %}</p>
    {% else %}
        <p>{% trans %}No comments found in last .{% endtrans %}{{ days }}{% trans %} days{% endtrans %}</p>
    {% endfor %}
</div>
