<div>
    {% for poster, amountOfComments in activeposters %}
        <p><strong>{{ poster }}</strong>{% if showcount %} - <em>{% trans with {'%amount%': amountOfComments} %}%amount% posts{% endtrans %}</em>{% endif %}</p>
    {% else %}
        <p>{% trans with {'%amount%': days} %}No comments found in last %amount% days.{% endtrans %}</p>
    {% endfor %}
</div>
