/* 
	Comments style from the trisexual wordpress theme 
*/

#comments h3, #commentform h3 {
	font-weight: bold;
	font-size: 130%;
	background: none;
	padding: 0px;
	color: #73a0c5;
}

#comments, #commentform {
	padding: 0px 10px 30px 10px;
	margin: 0px;
}
#comments {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	line-height: 1.4em;
}

#comments .comment {
	background-color: #EFEFEF;
	font-size: 100%;
	font-weight: normal;
	color: #444;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 10px;
	margin-right: 0px;
	padding: 4px 20px 4px 20px;
}

#comments .officialuser {
	background-color: #EFEFEF;
	font-size: 100%;
	font-weight: normal;
	color: #444;
	border-top: 1px solid #73a0c5;
	border-bottom: 1px solid #73a0c5;
	margin-bottom: 10px;
	margin-right: 0px;
	padding: 4px 20px 4px 20px;
}

#comments .comment h4, #comments .officialuser h4 {
	font-size: 100%;
	font-weight: normal;
}

#comments .comment .commentnumber, #comments .officialuser .commentnumber {
	font-size: 140%;
	margin-right: 8px;
}

#commentform form {
	background-color: #EFEFEF;
	font-size: 100%;
	font-weight: normal;
	color: #444;
	border-top: 1px solid #73a0c5;
	border-bottom: 1px solid #73a0c5;
	margin-bottom: 10px;
	margin-right: 0px;
	padding: 4px;
}

#commentform label {
	font-size: 90%;
}
#commentform .commentforminfo {
	font-size: 90%;
}

.gravatar {
	float: right;
	padding: 0px;
	border: 4px solid #DDDDDD;
	background: #FFF;
	margin: 4px;
	width: 50px;
	height: 50px;
}
