form#ezcomments_commentform label {
	display: block;
}

div.ezcomments_signature {
	margin-top: 2em;
}

div.ezcomments_reginfo {
	border-top-style: solid; 
	border-top-width: 1px; 
	margin-top: 2em;
}

form.ezcomments_deleteform, form.ezcomments_deleteform div {
	display: inline;
}

tr.ezcomments_commentactions {
	height: 18px;
}