/**
 * Style4 for the Standard template set for EZComments
 *
 * @author Mateo Tibaquira
 * @author Alen Grakalic
 * @link   http://templatica.com/articles/comments/04.html
 */

.ezcomments_wrapper,
.ezcomments_wrapper li,
.ezcomments_wrapper ul {
  list-style:none;
  margin:0;
  padding:0;
}
.ezcomments_wrapper li {
  background:url(images/04_bg_comments.gif) no-repeat 0 0;
  font-size:13px;
  margin:1.5em 0;
  overflow:hidden;
  position:relative;
}
.ezcomments_wrapper a {
  color:#edecd8;
  text-decoration:none;
}
.ezcomments_wrapper a:hover {
  color:#fff;
}
.ezcomments_wrapper .ezc_metadata li {
  background:none;
  color:#777;
  display:inline;
  line-height:39px;
  margin:0;
}
.ezcomments_wrapper .ezc_metadata .ezc_author {
  float:left;
  font-weight:bold;
  margin-bottom:10px;
  padding-left:40px;
}
.ezcomments_wrapper .ezc_metadata .ezc_avatar {
  display:none;
}
.ezcomments_wrapper .ezc_metadata .ezc_date {
  color:#fff;
  float:right;
  font-style:italic;
  font-size:11px;
  margin-right:12px;
}
.ezcomments_wrapper .ezc_metadata .ezc_options {
  float:left;
  padding-left:10px;
}
.ezcomments_wrapper .ezc_body {
  background:#fff url(images/04_bg_comments.gif) no-repeat 0 100%;
  clear:both;
  padding:10px 28px 40px 28px;
}
