{nocache}{php}header("Content-type: text/xml");{/php}{/nocache}
<?xml version="1.0" encoding="{charset}"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>{$sitename|varprepfordisplay}- {gt text="Comments"}</title>
        <link>{getbaseurl}</link>
        <description>{$sitename|varprepfordisplay} - {$slogan|varprepfordisplay}</description>
        <language>{$language}</language>
        <pubDate>{$current_date}</pubDate>
        <image>
            <title>{$sitename|varprepfordisplay}</title>
            <url>{getbaseurl}images/{configgetvar name=site_logo}</url>
        </image>
        <webMaster>{$adminmail|varprepfordisplay} ({$adminmail|varprepfordisplay})</webMaster>
        {foreach from=$comments item=comment}
        <item>
            <title>
                {$comment.modname|varprepfordisplay}:
                {if $comment.subject}
                {$comment.subject|varprepfordisplay}
                {else}
                {gt text="No subject"}
                {/if}
                {if $comment.uid > 0}
                ({usergetvar name=uname uid=$comment.uid})
                {else}
                ({$comment.anonname|varprepfordisplay})
                {/if}
            </title>
        <link>{$comment.url|varprepfordisplay}#comment{$comment.id|varprepfordisplay}</link>
        <pubDate>{$comment.date|strtotime|date_format:"%a, %d %b %Y %H:%M:%S %z"}</pubDate>
        <guid>{$comment.url|varprepfordisplay}#comment{$comment.id|varprepfordisplay}</guid>
        <description>{$comment.comment|varprepfordisplay}</description>
        </item>
        {/foreach}
    </channel>
</rss>