{*  $Id$  *}
{include file="ezcomments_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='EZComments' src='admin.gif' alt='' }</div>
    <h2>{gt text="Comment statistics"} - {gt text="Module"}: {$name|varprepfordisplay}</h2>
    <table class="z-admintable">
        <thead>
            <tr>
                <th>{gt text="Item ID"}</th>
                <th>{gt text="Total comments"}</th>
                <th>{gt text="Approved"}</th>
                <th>{gt text="Pending"}</th>
                <th>{gt text="Rejected"}</th>
                <th>{gt text="Options"}</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$commentstats item=commentstat}
            <tr class="{cycle values=z-odd,z-even}">
                <td><a href="{$commentstat.url|urldecode|varprepfordisplay}">{$commentstat.objectid|varprepfordisplay}</a></td>
                <td>{$commentstat.totalcomments|varprepfordisplay}</td>
                <td>{$commentstat.approvedcomments|varprepfordisplay}</td>
                <td>{$commentstat.pendingcomments|varprepfordisplay}</td>
                <td>{$commentstat.rejectedcomments|varprepfordisplay}</td>
                <td>
                    <a href="{modurl modname=EZComments type=admin func=deleteitem mod=$name objectid=$commentstat.objectid}">{img modname='core' set='icons/extrasmall' src='14_layer_deletelayer.gif' __title='Delete' __alt='Delete'}</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>
