<ul>
    {foreach from=$comments item=comment}
    <li>
        {if $comment.subject neq ''}
        <a href="{$comment.url|varprepfordisplay}#comment{$comment.id|varprepfordisplay}">{$comment.subject|varprepfordisplay}</a>
        {else}
        <a href="{$comment.url|varprepfordisplay}#comment{$comment.id|varprepfordisplay}">{$comment.comment|strip_tags:false|truncate:30|varprepfordisplay}</a>
        {/if}
        {if $showusername and $comment.uname neq ''}
        {gt text="by" domain="module_ezcomments"}
        {if $linkusername}
        {$comment.uid|userprofilelink}
        {else}
        {$comment.uname|varprepfordisplay}
        {/if}
        {/if}
        {if $showdate}
        {gt text="on" domain="module_ezcomments"}&nbsp;{$comment.date|date_format|varprephtmldisplay}
        {/if}
    </li>
    {/foreach}
</ul>
