div.ez_indent {
    margin-left: 40px;
}

.grayBox {
    background-color: grey;
}

.commentBox {
    background-color: #f4f4f4;
    border-radius: 3px;
    border: #0a0a0a 1px solid;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
